//Colors
$dark_grey: #333333;
$grey: #666;
$light_blue: #2290FF;
$off_white: #f7f7f7;
$dark_blue: #364051;

//Font Size
$font_size_large: 1.8rem;
$font-size-small: 1.4rem;

//Sizes

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.6rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem

  